MONGO_URI=
JWT_SECRET_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Payment configuration
BACKEND_BASE_URL=
FRONTEND_BASE_URL=

# eSewa (sandbox)
ESEWA_BASE_URL=
ESEWA_PRODUCT_CODE=
ESEWA_SECRET_KEY=

# Khalti
KHALTI_INITIATE_URL=
KHALTI_VERIFY_URL=
KHALTI_SECRET_KEY=